.card-item {
  width: 182px;
  height: 268px;
  margin: 10px 10px 0 0;

  img {
    transition-duration: 0.5s;
    transition-delay: 0.5s;
    transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
    width: 182px;
    height: 268px;

  }
  
  transition-duration: 0.5s;
  transition-delay: 0.5s;
  transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  opacity: 1;

  &:hover {
    opacity: 0.7;
    cursor: pointer;
    width: 364px;
    height: 596px;

    img {
      width: 364px;
      height: 536px;
    }
 
  }
}