.scroll-area {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: scroll;

    &::-webkit-scrollbar {
        width: 0px
    }
    .card-wrapper {
        display: flex;
        flex-direction: row !important;
        margin: 10px 10px 0 0;
    }
}

