@import "variables";

.wrapper {
    display: flex;
    flex-direction: column;
    color: $base-font-selected;
    width: 100vw;
    height: 100%;
    justify-content: center;
    align-items: center;
    .logo {
    font-size: $normalPlus-font-size*1.4;
    font-weight: $font-normal;
    color: $base-font-green;
    margin-bottom: 60px;
    }
    .sub-text {
        font-size: $xxxl-font;
        font-weight: $font-light;
        margin-bottom: 40px; 
    }
    .container {
        display: flex;
        flex-direction: row;
        .margin-fix {
            margin-right: 60px;
        }
        .login-form {
            font-size: $normal-font-size;
            order: 0;
            margin-right: 60px;
            .name {
                display: table;
                label {
                    display: table-cell;
                    width: 40%;
                    padding-right: 10px;
                }
                input {
                    display: table-cell;
                    background: transparent;
                    height: 40px;
                    color: $base-font-selected;
                    border: 1px solid $widget-broder;
                    margin-bottom: 5px;
                    font-size: $l-font;
                    font-weight: $font-light;
                    padding-left: 10px;
                }
                
                    .invalid-feedback {
                        font-size: $base-font-size;
                        color: $base-font-red;
                        margin-bottom: 5px;
                    }
                
                
            }
            .password {
                @extend .name;
            }
            .start {
                text-align: right;
                button {
                    cursor: pointer;
                    background-color: $widget-ligther-broder;
                    border: none;
                    transition-duration: 0.5s;
                    transition-delay: 0.1s;
                    color: $base-font-selected;
                    width: 100px;
                    text-align: center;
                    font-size: $l-font;
                    font-weight: $font-light;
                    padding: 15px 0;
                    
                    &:hover {
                        background-color: $base-font-green; 
                        color: white; 
                    }
                }
            }
        }
        .guest {
          order: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          min-width: 172px;
          cursor: pointer;
          background-color: $widget-ligther-broder;
          transition-duration: 0.5s;
          transition-delay: 0.1s;
          color: $base-font-selected;
          font-size: $l-font;
            font-weight: $font-light;
          padding: 12px 15px 15px;
          text-align: center;

          &:hover {
            background-color: $base-font-green;
            color: white;
          }

          fa {
            font-size: 76px;
          }


        }
    }
}