<div class="wrapper">
  <div class="logo">NICFLIX</div>
  <div class="sub-text">Who's Watching?</div>
  <div class="container">
      <div *ngIf="isLoggedIn$ | async" (click)="logOut()" class="guest margin-fix">
          <fa name="suitcase"></fa>
         <div class="text" >Leave</div> 
        </div> 
        <div *ngIf="isLoggedIn$ | async" (click)="guestLogin()" class="guest">
            <fa name="ticket"></fa>
           <div class="text" >Continue</div> 
          </div>
    <form *ngIf="isLoggedOut$ | async" class="login-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="name form-group">
        <label>First Name</label>
		<input placeholder="Nicholis" type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
		<div class="error">
				<div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
					<div *ngIf="f.firstName.errors.required">First Name is required</div>
				 </div>
		</div>
      </div>
      <div class="password form-group">
        <label>Password</label>
		<input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" [placeholder]="123456" />
		<div class="error">
				<div *ngIf="submitted && f.password.errors" class="invalid-feedback">
						<div *ngIf="f.password.errors.required">Password is required</div>
						<div *ngIf="f.password.errors.minlength">Passwords are at least 6 characters</div>
					  </div>
		</div>
      </div>
      <div class="start form-group">
        <button type="submit" class="start-button">Login</button>
	  </div>
    </form>
    <div *ngIf="isLoggedOut$ | async"  (click)="guestLogin()" class="guest">
      <fa name="user-circle-o"></fa>
     <div class="text" >Watch as Guest</div> 
    </div>
   
  </div>
</div>
