<div class="display-wrapper">
  <div class="focus-container">
    <div class="top-menu-container">
      <app-top-menu></app-top-menu>
    </div>
    <div class="hero-container">
      <app-hero-banner></app-hero-banner>
    </div>
  </div>
  <div class="feed">
      <app-feed></app-feed>
  </div>
</div>
