@import "variables";

.display-wrapper {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100%;
    
    .focus-container {
        order: 0;
        display: flex;
        flex-direction: column;
        width: 30%;
        
        .top-menu-container {
        background-color: $sidemenu-blue; 
        margin: 10px 0px 5px 0;
        // border: 1px solid $widget-ligther-broder;
        height: 30%;
        }
        .hero-container {
            background-color: $sidemenu-blue; 
            margin: 5px 0 10px 0;
            // border: 1px solid $widget-ligther-broder;
            height: 70%;
        }
    }
    
    .feed {
        order: 1;
        max-width: 70%;
        background-color: $sidemenu-blue; 
        margin: 10px 0px 10px 10px;
        overflow-x: hidden;
    }
}