<div class="wrapper">
    <div class="top">
            <div class="left">NICFLIX</div>
            <div class="right">
                <div class="welcome">Welcome, {{ userName$ | async }} !</div>
                <div class="dropdown-wrapper">
                        <button class="current-user">Profile</button>
                        <button class="change-user" (click)="changeProfile()">Logout</button>
                </div>
            </div>
    </div>
    <div class="search">
        <app-search></app-search>
    </div>
    <div class="buttons">
        <button class="rated" >Top Rated</button>
        <button class="rated">My Liked</button>
        <button class="rated">Continue</button>
    </div>
</div>

