@import "variables";

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px;
    height: 100%;
    justify-content: space-between;
    .top {
        display: flex;
        flex-direction: row;
        .left {
            color: $base-font-green;
            font-weight: $font-bold;
            order: 0;
        }
        .right {
            order: 1;
            margin-left: auto;
            display: flex;
            flex-direction: column;
            position: relative;
            .welcome {
                color: $base-font-selected;
                font-size: $normalPlus-font-size;
                margin-bottom: 5px;
               
            }
            .dropdown-wrapper {
                position: absolute;
                text-align: right;
                top: 30px;
                button {  
                    width: 80px;
                    cursor: pointer;
                    padding: 15px 0;
                    background-color: $widget-ligther-broder;
                    border: none;
                    transition-duration: 0.5s;
                    transition-delay: 0.1s;
                    color: $base-font-selected;
                    text-align: center;
                    
                    &.current-user {
                        border-bottom: 1px solid $canvas-blue;
                    }
                    &:hover {
                        background-color: $base-font-green; 
                        color: white; 
                    }
                    
                }
            }
        }
    }
    .search {
        height: 50px;
    }
    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        button {
            width: 30%;
            cursor: pointer;
                    background-color: $widget-ligther-broder;
                    border: none;
                    transition-duration: 0.5s;
                    transition-delay: 0.1s;
                    color: $base-font-selected;
                    text-align: center;
                    font-size: $normal-font-size;
                    font-weight: $font-light;
                    padding: 10px 0;
                    
                    &:hover {
                        background-color: $base-font-green; 
                        color: white; 
                    }
        }
    }
}