<div  class="feed-wrapper">
  <div *ngFor="let item of feedType" class="feed-row">
      <div class="title"  
      >
        {{ item }}
        <app-regular-scroller [feedType]="item"></app-regular-scroller>
      </div>
  </div>
</div>
