
@import "variables";

.feed-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    .feed-row {
        padding: 15px;
        width: 100%;
        .title {
            font-weight: $font-normal;
            color: $base-font-selected;
        }
    }
}